body {
    font-family: 'Tapestry', cursive;
    text-align: center;
}
.buttonDiv {
    display: inline-block;
    justify-content: space-around;
}

button {
    font-family: 'Tapestry', cursive;
    width: 500px;
    height: 100px;
    border-width: 2px;
    border-radius: 8px;
    background: rgb(201, 226, 227, 0.5);
    margin-bottom: 10px;
    cursor: pointer;
    font-size: xx-large;
}

button:hover {
    background-color: #c9e2e3;
    color: black;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    background: rgb(201, 226, 227, 0.5);
}
table {
    width: 100%;
    font-size: larger;
    text-align: center;
}

