
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
    </style>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<div>
    <h1>Rooms</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name of Room</th>
            <th scope="col">Student</th>
            <th scope="col">Type of Pet</th>
            <th scope="col">Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <th scope="row" th:text="${room.roomID}"></th>
            <td th:text="${room.name}"></td>
            <td th:text="${room?.student?.getName()}"></td>
            <td th:text="${room?.student?.getPetType()}"></td>
            <td th:text="${room.available}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>